/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 10pt;
}
/* Headers */
h1{
  font-family: Helvetica;
  font-size: 14pt;
  color:  #00366C;
  font-weight: bold
}
h2{
  font-family: Helvetica;
  font-size: 12pt;
  font-weight: bold;
  color: #0066A5;
}
h3{
  font-family: Helvetica;
  font-size: 10pt;
  color: #5295D4 ;
}
h4{
  font-family: Helvetica;
  font-size: 10pt;
  color: #99BFEF;
}

